.TemplateC h1 {
  grid-column: span 8;
  @media only screen and (max-width: 1500px) {
    grid-column: span 6;
  }
  @media only screen and (max-width: 950px) {
    grid-column: span 4;
  }
}

.TemplateC section {
  grid-row: 3;
  grid-column: span 4;
  
  @media only screen and (max-width: 2000px) {
    grid-column: span 4;
  }

  @media only screen and (max-width: 1500px) {
    grid-column: span 4;
  }

  @media only screen and (max-width: 1200px) {
    grid-column: span 4;
  }

  @media only screen and (max-width: 950px) {
    grid-column: span 4;
  }
}

.TemplateC aside {
  grid-column: span 2;
  grid-row: 3;
  @media only screen and (max-width: 1500px) {
    grid-column: span 2;
  }

  @media only screen and (max-width: 1200px) {
    grid-column: span 2;
  }
  @media only screen and (max-width: 950px) {
    display: none;
  }
}
