.menu {
  height: calc(100dvh - 64px);
  padding: 0 calc(var(--gridGap) / 2) 16px calc(var(--gridGap) / 2);
  box-sizing: border-box;
}

.navBarMobile {
  @media only screen and (max-width: 650px) {
    grid-column: span 4;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
  }
  @media only screen and (min-width: 650px) {
    display: none;
  }
}

.navBarMobile {
  & ul {
    @media only screen and (max-width: 650px) {
      flex-direction: column;
      gap: 0;
    }
  }
}

.navBarMobile {
  & a {
    @media only screen and (max-width: 650px) {
      display: block;
      width: 100%;
      padding: 32px 0;
    }
  }
}
