.card {
  position: relative;
  background: var(--base-00);
  border-radius: var(--borderRadiusDefault);
  box-shadow: 0px 4px 20px 0px rgba(14, 94, 178, 0.1);
  margin-bottom: clamp(2.5rem, 2.2692rem + 1.0256vw, 3.5rem);
  
  & h3 {
    font-weight: var(--weightSemiBold);
    font-size: var(--textMedium);
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  & .cardText {
    font-family: var(--fontBody);
    font-weight: var(--weightNormal);
    font-size: var(--text);
    line-height: var(--lineHeightLarge);
    color: var(--colorForegroundRegular);
    margin-bottom: 2em;
  }

  & ul {
    list-style-type: none;
  }

  &:has(.cardImg-start) {
    margin-top: 48px;
    @container cardStart (max-width: 960px) {
      margin-top: 187px;
    }
    @container cardStart (max-width: 512px) {
      margin-top: 96px;
    }
  }
}

/* Card - Spacing */
.cardSpacing--XL {
  padding: clamp(2rem, 1.3077rem + 3.0769vw, 5rem);
}

.cardSpacing--Large {
  padding: clamp(2rem, 1.7692rem + 1.0256vw, 3rem);
}

.cardSpacing--Medium {
  padding: 32px;
  @media only screen and (max-width: 650px) {
    padding: 16px;
  }
}
/* Card - Sizing */

/* Card - Pattern -- Start */
.cardStyle {
  position: absolute;
  overflow: hidden;
  width: calc(50% + (var(--gridGap) / 2));
  top: 0;
  bottom: calc(var(--gridGap) / -2);
  left: calc(var(--gridGap) / -2);
  z-index: -1;
  border-radius: var(--borderRadiusDefault);
}

#Pattern01 {
  color: var(--patternDefaultColor);
}

#Pattern02 {
  color: var(--patternDefaultColor);
}

#nopattern {
  display: none;
}
/* Card - Pattern -- End */



