header {
  position: fixed;
  width: calc(100% - (var(--pageContentSpacing) * 2));
  box-sizing: border-box;
  padding: 20px calc(var(--gridGap) / 2);
  z-index: 10;  

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    left: calc(-1 * var(--pageContentSpacing));
    right: calc(-1 * var(--pageContentSpacing));
    background: var(--base-00);
    box-shadow: 0px 4px 20px 0px rgba(14, 94, 178, 0.10);
    z-index: -1;
  }

  @media only screen and (max-width: 650px) {
    grid-row: last;
    bottom: 0;
    &::before {
      box-shadow: inset 0px 1px 0px 0px var(--gridLines);
    }
  }
}

.contentContainer--header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 650px) {
    justify-content: flex-start;
  }
}

.homeLink {
  display: flex;
  align-items: center;
  height: 32px;
}

.mobileMenuLink {
  display: none;
  align-items: center;
  height: 32px;

  @media only screen and (max-width: 650px) {
    display: block;
  }
}

.navBarDesktop {
  & ul {
    display: flex;
    gap: 64px;
    list-style-type: none;
  }
  @media only screen and (max-width: 650px) {
    display: none;
  }
}