nav {
  & ul {
    list-style-type: none;
  }

  & a {
    font-family: var(--fontBody);
    font-weight: var(--weightSemiBold);
    font-size: var(--text);
    color: var(--colorForegroundRegular);
  }
}