.sidebar {
  @include themify($themes) {
    &__card {
      @include pxy(16, 32, 16, 32);
      @include pb(24, 40);
      background: themed("card");
      border-radius: $border-radius-big;
      @include shadow-02;

      &__profile {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;
        & div {
          padding-left: 2.4rem;
        }

        &--no-bottom {
          margin-bottom: 0;
        }

        &__avatar {
          width: 9.6rem;
        }

        &__h3 {
          @extend %o-title-2;
          color: themed("font-color-1");
        }
        &__h4 {
          @extend %o-title-4;
          color: themed("font-color-3");
          line-height: 2.4rem;
        }
      }
      &__h4 {
        @extend %o-title-4;

        &--bold {
          padding-bottom: 0.8rem;
        }
      }
      &__credit {
        padding: 1.6rem 1.6rem 0;
        @extend %o-text-imprint;
        text-align: left;
        color: themed("text-footer");
        text-transform: uppercase;

        & a {
          padding-left: 0.8rem;
          color: themed("text-footer");
          @extend %font-fade;

          &:hover {
            @include link-hover-color;
          }
        }
      }
    }
  }
}

.ck-logos {
  list-style: none;
  line-height: 0;
  @include mb(32, 96);

  & li {
    display: inline-block;
    width: calc(15% - 8px);
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
    overflow: hidden;
    /*   filter: grayscale(100%); */
    @media only screen and (max-width: 1600px) {
      width: calc(25% - 8px);
    }
    @media only screen and (max-width: 650px) {
      width: calc(50% - 8px);
    }
  }

  &__images {
    max-width: 100%;
    height: auto;
  }
}
