

.sidebar {
  @include themify($themes) {
    &__card {
      @include pxy(16,32,16,32);
      @include pb(24,40);
      background: themed("card");
      border-radius: $border-radius-big;
      @include shadow-01;

      &__space {
        width: 100%;
        height: 0.2rem;
        margin: 1.6rem 0 3.2rem;
        border-radius: 0.4rem;
        background: themed("base-04");
      }

      &__profile {
        padding-bottom: 1.6rem;
        & ul {
          list-style: none;
        }

        &__avatar {
          position: absolute;
          width: 10.4rem;
        }

        &__h3 {
          position: relative;
          margin-bottom: 0.4rem;
          padding-bottom: 0.4rem;
          padding-top: 0.8rem;
          padding-left: 12rem;
          font-family: $ck-font-01;
          font-weight: 700;
          @include font-size(20, 28);
          @include line-height(28, 48);
          color: themed("font-second");
          text-transform: uppercase;
          @media only screen and (max-width: 650px) {
            padding-top: 2.4rem;
          }

          &:before {
            position: absolute;
            bottom: 0;
            display: block;
            content: "";
            width: 4.8rem;
            height: 0.3rem;
            background: $ck-primary;
            border-radius: 4rem;
          }
        }
      }
      &__h4 {
        margin-bottom: 0.8rem;
        font-family: $ck-font-02;
        font-weight: 400;
        @include font-size(16, 18);
        @include line-height(28, 32);
        color: themed("font-second");

        &--profile {
          padding-left: 12rem;
        }

        &--bold {
          font-weight: 600;
        }
      }
    }
  }
}

.ck-logos {
  list-style: none;
  line-height: 0;
  @include mb(32,96);
  @media only screen and (max-width: 650px) {
    text-align: center;
  }

  & li {
    display: inline-block;
    width: calc(20% - 8px);
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
    overflow: hidden;
    /*   filter: grayscale(100%); */
    @media only screen and (max-width: 1600px) {
      width: calc(25% - 8px);
    }
    @media only screen and (max-width: 650px) {
      width: calc(50% - 8px);
    }
  }

  &__images {
    max-width: 100%;
    height: auto;
  }
}
