.sidebar {
  @include themify($themes) {
    &__card {
      @include pxy(16, 32, 16, 32);
      @include pb(24, 40);
      background: themed("card");
      border-radius: $border-radius-big;
      @include shadow-01;

      &__space {
        width: 100%;
        height: 0.4rem;
        margin: 2.4rem 0 2.4rem;
        border-radius: 0.4rem;
        background: themed("spacer-card");
      }

      &__profile {
        display: flex;
        align-items: center;
        & ul {
          padding-left: 2.4rem;
          list-style: none;
        }

        &--no-bottom {
          padding-bottom: 0;
        }

        &__avatar {
          width: 9.6rem;
        }

        &__h3 {
          position: relative;
          @include pt(16, 4);
          font-family: $font-title;
          font-weight: 800;
          font-size: 2.4rem;
          line-height: 2.8rem;
          color: themed("title-third");
          text-transform: uppercase;
          @include font-fade;
        }
      }
      &__h4 {
        font-family: $font-body;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: themed("title-second");
        @include font-fade;

        &--bold {
          font-weight: 600;
          padding-bottom: 0.8rem;
        }
      }
      &__credit {
        padding: 1.6rem 1.6rem 0;
        font-family: $font-title;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 2.4rem;
        text-align: left;
        color: themed("text-footer");
        text-transform: uppercase;
        @include font-fade;

        & a {
          padding-left: 0.8rem;
          color: themed("text-footer");
          @extend %hoverspeed;

          &:hover {
            @include hover-text;
          }
        }
      }
    }
  }
}

.ck-logos {
  list-style: none;
  line-height: 0;
  @include mb(32, 96);

  & li {
    display: inline-block;
    width: calc(20% - 8px);
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
    overflow: hidden;
    /*   filter: grayscale(100%); */
    @media only screen and (max-width: 1600px) {
      width: calc(25% - 8px);
    }
    @media only screen and (max-width: 650px) {
      width: calc(50% - 8px);
    }
  }

  &__images {
    max-width: 100%;
    height: auto;
  }
}
