.button {
  @include themify($themes) {
    display: inline-block;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    @include body-text;
    @include font-size(18, 24);
    @include line-height(24, 40);

    border-radius: 50rem;
    transition: all 0.25s ease-out;
    color: $primary;
    box-sizing: border-box;
    cursor: pointer;

    &[type="primary"] {
      @include pxy(12, 12, 64, 104);
      color: $base-2;
      background: $primary;
    }
    &[type="secondary"] {
      @include pxy(12, 12, 40, 56);
      border: 0.1rem solid $primary;
    }

    &[var="middle"] {
      @include pxy(8, 8, 32, 104);
      @include font-size(16, 18);
      @include line-height(24, 40);
      color: $base-2;
      background: $primary;
    }

    &:hover {
      @include hoverspeed;
      background: $primary;
      color: $base-2;
      box-shadow: 0 4px 8px 2px themed("shadow");
    }

    @media only screen and (max-width: 650px) {
      display: block;
      width: 100%;
      margin: 0 auto 1.6rem auto;
      text-align: center;
    }
  }
}
