$ck-primary: #4264fb; 
/* #4264fb; */
$ck-background: #f8f5f5; 
/* #191E28; */
$ck-gray-00: #FAFAFA;
$ck-gray-15: #C8C8D2;
$ck-gray-25: #5A6478;
$ck-gray-50: #38414B;
$ck-gray-100: #2f2f2f;


/* Timeline - last child */
$ck-alpha: rgba(0, 0, 0, 0);


/* Fonts */
$ck-font-title: $ck-primary;
$ck-font-main: $ck-gray-00;
$ck-font-second: $ck-gray-25;
$ck-font-third: $ck-gray-15;
