/* Color - Palette */
$primary: #4264fb;
$secondary: #00be73;

$base-1: #fdfdff;
$base-2: #fafafa;
$base-3: #f0f0ff;
$base-10: #E0E0F5;
$base-15: #cfcfe3;
$base-20: #bbbbd8;
$base-30: #A9A9C9;
$base-45: #929ab9;
$base-65: #5a648c;
$base-70: #303859;
$base-80: #1d1d3a;
$base-90: #0f0f23;

$transparent: rgba(0, 0, 0, 0);


/* Everything after this points needs rework */

/* Theme */
$themes: (
  light: (
    /* Main Color */
    primary: $primary,
    secondary: $secondary,

    /* Base Color */
    base-00: $base-2,
    base-3: $base-3,
    base-20: $base-20,
    base-30: $base-30,
    base-45: $base-45,
    base-65: $base-65,

    /* Font - Title */
    title-first: $base-70,
    title-second: $base-65,
    title-third: $base-65,
    title-fourth: $base-45,
    title-fifth: $base-70,

    /* Font - Text */
    text-first: $base-65,
    text-second: $base-45,

    /* Font - Links */
    color-link-first: $base-65,
    color-link-second: $base-65,
    color-link-hover: $secondary,

    /* Styling */
    shadow: $base-10,
    spacer: $base-10,
    arrow: $base-30,
    text-footer: $base-30,
    card: $base-1,
    home-square: $base-2,
    background: $base-3,
    nav-background: $base-1,

    /* Assets */
    theme-icon: "\EA16",
    home-logo: url("./../images/ck-logo.svg"),
    diamant: url("./../images/double-diamant-light.png")

  ),
  dark: (
     /* Main Color */
    primary: $primary,
    secondary: $secondary,

    /* Base Color */
    base-3: $base-90,
    base-30: $base-70,
    base-20: $base-65,
    base-45: $base-20,
    base-65: $base-30,
    base-200: $base-2,

    /* Font - Title */
    title-first: $base-1,
    title-second: $base-45,
    title-third: $base-3,
    title-fourth: $base-65,
    title-fifth: $base-1,

    /* Font - Text */
    text-first: $base-3,
    text-second: $base-30,

    /* Font - Links */
    color-link-first: $base-3,
    color-link-second: $base-65,
    color-link-hover: $secondary,

    /* Styling */
    shadow: $base-90,
    spacer: $base-80,
    arrow: $base-70,
    text-footer: $base-45,
    card: $base-80,
    home-square: $base-80,
    background: $base-90,
    nav-background: $base-80,

    /* Assets */
    theme-icon: "\EA17",
    home-logo: url("./../images/ck-logo.svg"),
    diamant: url("./../images/double-diamant-dark.png")

  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
