@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

$font-title: "Barlow", sans-serif;
$font-body: "Rubik", sans-serif;

/* Selection */
::-moz-selection {
  color: $secondary;
}
::selection {
  color: $secondary;
}

@mixin link-hover-color {
  color: themed("link-color-hover");
}

/* Title */
%o-title-1 {
  @include themify($themes) {
    display: inline-block;
    position: relative;
    @include padding-bottom(20, 32);
    font-family: $font-title;
    @include font-size(40, 48);
    @include line-height(40, 48);
    font-weight: 800;
    color: themed("font-color-1");
    text-transform: uppercase;
    @extend %font-fade;
    @media only screen and (min-width: 1600px) {
      @include font-size(32, 52);
      @include line-height(32, 50);
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      @include width(64, 96);
      height: 0.8rem;
      background: $primary;
      border-radius: 0.8rem;

      @media only screen and (max-width: 800px) {
        height: 0.6rem;
      }
    }
  }
}

%o-title-2 {
  @include themify($themes) {
    font-family: $font-title;
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 700;
    color: themed("font-color-1");
    @extend %font-fade;
  }
}

%o-title-3 {
  @include themify($themes) {
    @include margin-bottom(8, 16);
    font-family: $font-body;
    @include font-size(17, 20);
    line-height: 2.4rem;
    font-weight: 700;
    color: themed("font-color-3");
    @extend %font-fade;
  }
}

%o-title-4 {
  @include themify($themes) {
    font-family: $font-title;
    @include font-size(15, 17);
    @include line-height(24, 33);
    font-weight: 600;
    color: themed("font-color-2");
    @extend %font-fade;
  }
}

%o-title-5 {
  @include themify($themes) {
    @include margin-bottom(8, 16);
    font-family: $font-title;
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: 700;
    color: themed("font-color-3");
    @extend %font-fade;
  }
}

/* Text-Body */
%o-text {
  @include themify($themes) {
    &-body {
      @include mb(16, 24);
      max-width: 96rem;
      font-family: $font-body;
      font-weight: 400;
      text-align: left;
      color: themed("font-color-2");
      font-size: 1.7rem;
      @include line-height(28, 32);
      @extend %font-fade;

      & span {
        font-family: $font-title;
        font-weight: 600;
        color: themed("font-color-3");
        text-transform: uppercase;
      }

      &:last-child {
        @include mb(32, 80);
      }
    }
    &-link {
      font-family: $font-body;
      font-size: 1.7rem;
      @include line-height(28, 32);
      font-weight: 600;
      color: themed("font-color-2");
      text-align: left;
      @extend %font-fade;

      &:hover {
        @include link-hover-color;
      }
    }
    &-info {
      font-family: $font-body;
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-weight: 400;
      color: themed("font-color-1");
      @extend %font-fade;
    }
    &-imprint {
      font-family: $font-title;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 2.0rem;
      @extend %font-fade;
    }
  }
}

/* Home-Intro */
%o-text-intro-body {
  @include themify($themes) {
    font-family: $font-body;
    @include font-size(17, 20);
    @include line-height(28, 36);
    color: themed("font-color-2");
    @extend %font-fade;
  }
}

%o-text-intro-link {
  @include themify($themes) {
    font-family: $font-body;
    font-size: 2rem;
    line-height: 3.6rem;
    color: themed("primary");
    font-weight: 600;
    @extend %font-fade;
    &:hover {
      color: themed("link-color-hover");
    }
  }
}



/* OLD */
/* Nav Links */
%nav-links {
  @include themify($themes) {
    font-family: $font-body;
    @include font-size(16, 18);
    line-height: 3.2rem;
    font-weight: 700;
    color: themed("color-link-first");
    text-align: left;
    @extend %font-fade;

    &:hover {
      @include link-hover-color;
    }
  }
}

%teaser-links {
  @include themify($themes) {
    font-family: $font-body;
    @include font-size(18, 22);
    color: $primary;
    font-weight: 600;
    @extend %font-fade;

    &:hover {
      @include link-hover-color;
    }
  }
}

/* List Style */
