@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

$font-title: "Barlow", sans-serif;
$font-body: "Titillium", sans-serif;

::-moz-selection {
  color: $secondary;
}
::selection {
  color: $secondary;
}

@mixin hoverspeed {
  transition: all $time-1 ease-in-out;
}

@mixin hover-text {
  @include hoverspeed;
  color: themed("link-hover");
}

.title-1 {
  @include themify($themes) {
    display: inline-block;
    position: relative;
    @include pb(20, 32);
    font-family: $font-title;
    @include font-size(28, 48);
    @include line-height(32, 48);
    font-weight: 800;
    color: themed("title-first");
    text-transform: uppercase;
    @include font-fade;

    &:before {
      position: absolute;
      bottom: 0;
      content: "";
      @include width(64, 96);
      height: 0.8rem;
      background: $primary;
      border-radius: 0.8rem;
      @media only screen and (max-width: 800px) {
        height: 0.6rem;
      }
    }
  }
}

.title-2 {
  @include themify($themes) {
    padding-bottom: 1.6rem;
    font-family: $font-title;
    font-weight: 700;
    @include font-size(20, 28);
    @include line-height(26, 32);
    line-height: 2.4rem;
    color: themed("title-second");
    text-transform: uppercase;
    @include font-fade;
  }
}

.title-3 {
  @include themify($themes) {
    @include mb(8, 16);
    font-family: $font-body;
    @include font-size(18, 24);
    @include line-height(20, 32);
    font-weight: 600;
    color: themed("title-second");
    @include font-fade;
  }
}

@mixin body-text {
  font-family: $font-body;
  font-weight: 400;
  text-align: left;
  color: themed("text-first");
  @include font-fade;
}

.body-text {
  @include themify($themes) {
    @include mb(16, 64);
    max-width: 96rem;
    @include body-text;
    @include font-size(16, 18);
    @include line-height(24, 32);

    &--no-bottom {
      margin-bottom: 0 !important;
      padding-bottom: 0;
    }

    & span {
      font-family: $font-title;
      font-weight: 700;
      color: themed("text-second");
      text-transform: uppercase;
    }

    &:last-child {
      @include mb(16, 64);
    }
  }
}
