.ck__footer {
    position: relative;
    grid-area: footer;
    display: flex;
    align-items: flex-end;
  
    &__credit {
        position: fixed;
        transform: rotate(-90deg);
        transform-origin: top left;
        bottom: 0;
        width: 100vh;
        padding-top: 1.6rem;
        font-family: $ck-font-01;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2.4rem;
        text-align: left;
        color: $ck-primary;
        text-transform: uppercase;
    
        & a {
            padding-left: 0.8rem;
            color: $ck-font-second;
            @extend %hoverspeed;

            &:hover {
                @include hover;
            }
        }
    }
  
    @media only screen and (max-width: 650px) {
        align-items: flex-start;
    
        &__credit {
            position: relative;
            transform: rotate(0);
            padding: 3.2rem;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }
    }
  }