.c-footer {
  @include themify($themes) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;

    @media only screen and (max-width: 800px) {
      display: none;
      align-self: end;
    }

    &__theme {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.8rem;
      width: 4.8rem;
      margin-right: 1.6rem;
      margin-bottom: 1.6rem;
      border-radius: 100%;
      transition: box-shadow 0.24s ease-in-out;
      background: none;
      box-shadow: 0 4px 8px 2px themed("shadow-1");
      @media only screen and (max-width: 800px) {
        margin-right: 0;
        margin-left: 1.6rem;
        margin-bottom: 0;
        background: none;
        box-shadow: none;
      }

      &:hover {
        @extend %hoverspeed;
        cursor: pointer;
        @media only screen and (max-width: 800px) {
          box-shadow: none;
        }
      }

      &:hover i {
        color: themed("link-color-hover");
        @media only screen and (max-width: 800px) {
          color: themed("link-second");
        }
      }

      &:focus {
        outline: none !important;
      }

      &__icon {
        line-height: 0;
        color: themed("color-link-first");

        &::before {
          content: themed("theme-icon");
        }
      }

      &__mobile {
        @media only screen and (min-width: 800px) {
          display: none;
        }
        @media only screen and (max-width: 800px) {
          position: absolute;
          right: 0.8rem;
        }
      }
    }
  }
}
