.home {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-area: content;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    @media only screen and (max-width: 800px) {
      margin-top: -5.6rem;
      grid-template-columns: repeat(12, 1fr);
    }

    &__content {
      @include mt(0, 48);
      grid-column-start: 5;
      grid-column-end: 24;
      z-index: 5;
      @media only screen and (max-width: 800px) {
        grid-column-start: 2;
        grid-column-end: 12;
      }
    }

    &__headline {
      @extend %title-1;
      @include mb(40, 48);
    }

    &__subtext {
      @extend %title-subtext;
      @include mb(32, 64);
    }

    &__menu {
      display: flex;
      list-style: none;

      & li {
        margin-right: 10.4rem;
      }

      & li:last-child {
        margin-right: 0;
      }

      & li a {
        @extend %teaser-links;
      }
    }

    &__showcase {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      grid-column-start: 28;
      grid-column-end: 37;

      @media only screen and (max-width: 800px) {
        display: none;
      }

      &-wrapper {
        position: relative;
        @include width(280, 460);
        animation: fadeIn ease 2s;
        z-index: 5;
      }

      &-video {
        position: absolute;
        max-width: 100%;
        mask-image: url("../images/phone-mask.svg");
        mask-mode: $transparent;
        mask-size: contain;
        z-index: 7;
      }

      &-img {
        position: relative;
        top: 0;
        max-width: 100%;
        height: auto;
        display: block;
        mask-image: url("../images/phone-mask.svg");
        mask-mode: $transparent;
        mask-size: contain;
        z-index: 6;
      }

      &-shadow {
        position: absolute;
        margin-top: 1.6rem;
        width: 100%;
        height: 4rem;
        background: themed("shadow");
        border-radius: 100%;
        filter: blur(24px);
        z-index: 3;
      }
    }

    &__square {
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      @include width(400, 1400);
      height: 100%;
      mask-image: url("../images/home-square.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: bottom right;
      background: themed("home-square");
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }

    &__background {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: themed("background-home");
    }
  }
}
