.home {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-area: content;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    @media only screen and (max-width: 800px) {
      grid-template-columns: repeat(12, 1fr);
    }

    &__content {
      @include mt(0, 48);
      grid-column-start: 5;
      grid-column-end: 24;
      z-index: 5;
      @media only screen and (max-width: 800px) {
        grid-column-start: 2;
        grid-column-end: 12;
      }
    }

    &__headline {
      display: inline-block;
      position: relative;
      @include mb(24, 32);
      @include pb(20, 32);
      font-family: $font-title;
      @include font-size(28, 48);
      @include line-height(32, 48);
      font-weight: 800;
      color: themed("title-first");
      text-transform: uppercase;
      @include font-fade;
      @media only screen and (max-width: 800px) {
        padding-top: 4.8rem;
        @include font-size(32, 96);
        @include line-height(32, 104);
      }

      &:before {
        position: absolute;
        bottom: 0;
        content: "";
        @include width(64, 96);
        height: 0.8rem;
        background: $primary;
        border-radius: 0.8rem;
        @media only screen and (max-width: 800px) {
          height: 0.6rem;
        }
      }
    }

    &__subtext {
      width: 100%;
      @include mb(16, 64);
      @include body-text;
      @include font-size(20, 22);
      color: themed("text-first");
      @include font-fade;
      box-sizing: border-box;

      @media only screen and (max-width: 800px) {
        @include mb(32, 64);
        max-width: 100%;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      list-style: none;

      & li {
        margin-right: 10.4rem;
      }

      & li:last-child {
        margin-right: 0;
      }

      & li a {
        @include body-text;
        @include font-size(20, 24);
        color: $primary;
        font-weight: 600;
        @include hoverspeed;

        &:hover {
          color: $secondary;
        }
      }
    }

    &__showcase {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      grid-column-start: 28;
      grid-column-end: 37;

      @media only screen and (max-width: 800px) {
        grid-column-start: 1;
        grid-column-end: 13;
        margin-right: 0;
        height: 100vh;
        box-sizing: border-box;
        background: themed("background-home");
      }

      &-wrapper {
        position: relative;
        @include width(280, 460);
        animation: fadeIn ease 2s;
        z-index: 5;
        @media only screen and (max-width: 800px) {
          margin-top: -7.2rem;
        }
      }

      &-video {
        position: absolute;
        max-width: 100%;
        mask-image: url("../images/phone-mask.svg");
        mask-mode: $transparent;
        mask-size: contain;
        z-index: 7;
      }

      &-img {
        position: relative;
        top: 0;
        max-width: 100%;
        height: auto;
        display: block;
        mask-image: url("../images/phone-mask.svg");
        mask-mode: $transparent;
        mask-size: contain;
        z-index: 6;
      }

      &-shadow {
        position: absolute;
        margin-top: 1.6rem;
        width: 100%;
        height: 4rem;
        background: themed("shadow");
        border-radius: 100%;
        filter: blur(24px);
        z-index: 3;
      }
    }

    &__square {
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      @include width(400, 1400);
      height: 100%;
      mask-image: url("../images/home-square.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: bottom right;
      background: themed("home-square");
      @media only screen and (max-width: 800px) {
        width: 88rem;
      }
    }

    &__background {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: themed("background-home");
    }
  }
  &__mobile-full-height {
    @media only screen and (max-width: 800px) {
      min-height: calc(100vh - 7.2rem);
    }
  }
}
