.link {
  @include themify($themes) {
    display: none;
    position: relative;
    font-family: $font-body;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: themed("font-color-3");
    transition: all $time-1 ease-in-out;

    &:hover {
      color: themed("link-color-hover");

      &::after {
        color: themed("link-color-hover");
      }
    }

    &:after {
      display: inline-block;
      margin-top: -0.2rem;
      padding-left: 0.2rem;
      font-family: "symbols";
      font-style: normal;
      font-weight: normal;
      line-height: 2.4rem;
      vertical-align: middle;
      color: themed("font-color-3");
    }

    & span {
      line-height: 2.4rem;
    }

    &--internal {
      display: flex;
      &::after {
        transform: translate(0px, 2px);
        transition: all $time-1 ease-in-out;
      }
      &:hover {
        &::after {
          transform: translate(2px, 2px);
        }
      }

      &:after {
        content: "\EA19";
      }
    }

    &--external {
      display: inline-flex;
      &::after {
        transform: translate(0px, 2px);
        transition: all $time-1 ease-in-out;
      }
      &:hover {
        &::after {
          transform: translate(2px, 0px);
        }
      }

      &:after {
        content: "\EA13";
      }
      &--light {
        color: themed("color-link-first");
        font-weight: 400;
        &::after {
          transform: translate(0px, 1px);
        }
        &:hover {
          &::after {
            transform: translate(2px, -1px);
          }
        }
      }
    }
    .no-lock {
      display: none;
    }
  }
}
