.navbar {
  @include themify($themes) {
    position: fixed;
    width: 100%;
    height: 7.2rem;
    padding: 0 7.2rem 0 1.6rem;
    z-index: 10;
    box-sizing: border-box;
    background: themed("background");

    @media only screen and (max-width: 800px) {
      padding-right: 1.6rem;
      padding-left: 8rem;
      bottom: 0; 
      background: themed("nav-background");
      z-index: 20;
    }

    &__logo {
      position: absolute;
      left: 0;
      margin: 1.2rem 1.6rem;
      width: 4.8rem;
      height: 4.8rem;
      background: themed("home-logo");
      background-size: 100%;
      transition: background-image 0.5s ease-in-out;
    }

    & ul {
      display: flex;
      align-items: center;
      list-style: none;
      height: 7.2rem;
      justify-content: flex-end;
      @media only screen and (max-width: 800px) {
        justify-content: flex-start;
      }

      & li {
        padding-left: 9.6rem;
        @media only screen and (max-width: 800px) {
          padding-left: 0;
        }

        & a {
          @extend %nav-links;
        }
      }
    }
    &__link {
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.8rem;
      height: 4.8rem;
      @media only screen and (min-width: 800px) {
        display: none;
      }

      & svg {
        fill: themed("color-link-first");

        &:hover {
          fill: themed("link-second");
        }
      }
    }
  }
}