.project_wrapper {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
  grid-column-start: 1;
  grid-column-end: 30;
  @include mb(48, 96);
}

.project {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    width: 100%;
    max-width: calc(1360px + (1520 - 1360) * ((100vw - 320px) / (2560 - 320)));

    @media only screen and (max-width: 650px) {
      grid-auto-rows: min-content;
      height: auto;
    }

    &__img {
      display: block;
      grid-column-start: 1;
      grid-column-end: 12;
      margin-bottom: 1.6rem;
      overflow: hidden;
      @include shadow-01;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 1;
      }

      & img {
        max-width: 100%;
        transition: transform 0.24s ease-in-out;

        @media only screen and (max-width: 950px) {
          max-width: 100%;
          max-height: none;
        }
        &:hover {
          transform: scale(1.025);
          transition: transform 0.24s ease-in-out;
        }
      }
    }

    &__tile {
      grid-column-start: 13;
      grid-column-end: 30;
      grid-row: 1;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 2;
      }

      &__title {
        position: relative;
        display: inline-block;
        font-family: $ck-font-01;
        font-weight: 700;
        @include font-size(24, 32);
        @include line-height(24, 48);
        color: themed("font-first");
        transition: transform 0.24s ease-in-out;
      }

      &__subtitle {
        margin-bottom: 0.8rem;
        font-family: $ck-font-01;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
        color: themed("font-fourth");
        text-transform: uppercase;
      }

      &__info {
        display: block;
        @include mb(8, 16);
        font-family: $ck-font-02;
        font-weight: 400;
        @include font-size(14, 18);
        @include line-height(20, 28);
        color: themed("font-third");
      }
    }
  }
}
