.ck__social {
    @include themify($themes) {
        & ul {
            position: fixed;
            display: flex;
            @include mt(16, 32);
            @include mb(56, 48);
            padding-left: 1.6rem;
            align-items: center;
            list-style-type: none;
            flex-wrap: wrap;

            @media only screen and (max-width: 650px) {
                position: relative;
                justify-content: center;
                margin-bottom: 0;
                padding-left: 0;
            }


            & li {
                @include mb(8, 32);
                border-radius: 100%;
                box-sizing: border-box;
                transition: box-shadow 0.25s ease-in-out;

                &:hover {
                    @extend %hover;
                    background: $ck-primary;
                    box-shadow: 0 4px 8px 2px themed('shadow');
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4.8rem;
                    width: 4.8rem;
                }

                &:hover i {
                    color: $ck-base-03;
                }
            }
        }
    }
}
