.ck__stripe {
    position: fixed;
    width: 50vw;
    height: 100%;
    margin-right: 12rem;
    right: 0;
    z-index: -1;
/*     filter: blur(4px); */

    &__a {
        position: absolute;
        margin-left: -4.8rem; 
        @include width(320,960);
        height: 100%;
        background: #FCFBFB;
        transform: skew(-20deg);
    }

    &__b {
        position: absolute;
        @include width(320,960);
        height: 100%;
        background: #fff;
        transform: skew(-20deg);
    }

    @media only screen and (max-width: 650px) {
       display: none;
    }
}

.ck__start__content__01 {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-area: content;
    grid-row: 1;
    height: 60vh;
    @include px(32,8); 

    @media only screen and (max-width: 650px) {
        @include mb(32, 64);
        background: $ck-primary;
    }
}

.ck__start__content__02 {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-area: content;
    grid-row: 2;
    align-content: top;
    height: 40vh;
    @include px(32,8);   

    @media only screen and (max-width: 650px) {
        height: auto;
    }
}

.ck__start__wrapper__01, .ck__start__wrapper__02  {
    grid-column-start: 5;
    grid-column-end: 41;
}
    
.ck__start__wrapper__01 {
    align-self: end;
}

.ck__start__wrapper__02 {
    align-self: start;

    @media only screen and (max-width: 650px) {
        grid-column-start: 1;
    }
}


//* Conent__01
.ck__welcome {
    grid-column-start: 5;
    grid-column-end: 41; 

    &__headline {
        @include mb(8, 24);
        padding-top: 3.2rem;
        font-family: $ck-font-01;  
        @include font-size(18, 40);
        @include line-height(24, 48);
        color: $ck-font-title;
        text-transform: uppercase;

        @media only screen and (max-width: 650px) {
            color: $ck-gray-00;
            @include mb(40, 64);
        }
    
        &--hi {
            position: relative;
            display: block;
            left: calc(0px - (24 - 0) * ((100vw - 320px) / (2560 - 320)));
            @include mb(4, 8);
            @include font-size(80, 280);
            @include line-height(80, 304);
            font-weight: 700;
            text-transform: none;

            &:before {
                content: "“";
                position: absolute;
                left: calc(-45px - (120 - 45) * ((100vw - 320px) / (2560 - 320)));
                @include font-size(80, 208);
                @include line-height(80, 232);
                font-weight: 700;
            }
        }
    
        &__line {
            animation: blinker 1s linear infinite;  
            @keyframes blinker {
                0% {opacity: 1.0;}
                50% {opacity: 0.2;}
                100% {opacity: 1.0;}   
            }  
            @media only screen and (max-width: 650px) {
                @keyframes blinker {
                    0% {color: rgba(255,255,255,1);}
                    50% {color: rgba(66,100,251,1);}
                    100% {color: rgba(255,255,255,1);}
                }
            }
        }      
    }
} 

//* Conent__02
.ck__about {
    &__subtext {
        max-width: 96.0rem;
        @include mb(32, 48);
        @extend %ck-text;
        @extend %ck-subtitle;
        color: $ck-font-second;
    }  

    @media only screen and (max-width: 650px) {
        @include mb(32, 64);
    }

    &__button {
        @extend %ck-text;
        @include font-size(18, 24);
        @include line-height(24, 40);
        display: inline-block;
        @include mb(24, 48);
        @include pxy(12, 12, 80, 64);
        border: 0.1rem solid $ck-primary;
        border-radius: 50rem;
        transition: all 0.25s ease-out;
        color: $ck-primary;
        box-sizing: border-box;

        &:hover {
            @extend %hover;
            background: $ck-primary;
            color: $ck-gray-00;
            box-shadow: 0 4px 8px 2px $ck-gray-10;
        }

        @media only screen and (max-width: 650px) {
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            background: $ck-primary;
            color: $ck-gray-00;
        } 
    }
} 