.ck_start_container {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-area: content;
    align-items: center;
    @include px(8, 280);
    height: 100vh;

    @media only screen and (max-width: 650px) {
      @include mt (32, 80);
      height: 100%;
    }

    &__wrapper {
      grid-column-start: 1;
      grid-column-end: 31;

      @media only screen and (max-width: 650px) {
        @include py(16, 64);
      }
    }

    &__avatar {
        padding-top: 8.8rem;
        @include width(128, 256);
        @media only screen and (max-width: 650px) {
          padding-top: 0;
        }
    }

    &__headline {
      position: relative;
      @include mb(24, 64);
      padding-top: 3.2rem;
      padding-bottom: 2.4rem;
      font-family: $ck-font-01;
      font-weight: 800;
      @include font-size(28, 48);
      @include line-height(32, 52);
      color: themed("font-title");
      text-transform: uppercase;

      &__line {
        padding-left: 0.8rem;
        animation: blinker 1.5s linear infinite;
        @keyframes blinker {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        @include width(64, 144);
        height: 0.8rem;
        background: $ck-primary;
        border-radius: 100px;
      }
    }

    &__subtext {
      width: 100%;
      max-width: 75%;
      @include mb(8, 16);
      @extend %ck-text;
      @include font-size(18, 22);
      color: themed("font-third");

      @media only screen and (max-width: 650px) {
        @include mb(48, 64);
        max-width: 100%;
      }
    }
  }
}
