@import 'mixins';
@import 'color';
@import 'icons';
@import 'font';


@import 'start';
@import 'about';
@import 'timestamp';
@import 'navbarback';
@import 'social';
@import 'footer';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
}

::-moz-selection {
  color: red;
}
::selection {
  color: red;
}

%hoverspeed {
  transition: all 0.16s ease-in-out;
}

%hover {
  box-shadow: 0 4px 8px 2px $ck-primary;
  @extend %hoverspeed;
}

body {
 height: 100%;
 background: #191E28;
}

html {
  height: 100%;
  font-size: 62.5%;
}

.ck__main__container {
  height: 100%;
  background: #191E28;
}

.ck__navbar {
  grid-area: navbar;
  @include padding-xy(4,32,4,32);
}

.ck__header {
  grid-area: header;
  @include padding-xy(0,56,8,192);
  @include padding-bottom(16,48);
}

.ck__content {
  grid-area: content;
  @include margin-bottom(40, 96);
  @include padding-left-right(8,192,8,192);
}

.ck__footer{
  grid-area: footer;
}

.ck__container {
  height: 100%;
  display: grid;
  grid-template-areas: 
  'navbar footer'
  'header footer'
  'content footer'
  'content footer';
  grid-template-columns: auto 8.0rem;

  @media only screen and (max-width: 650px) {
      grid-template-areas: 
      'navbar navbar'
      'header header'
      'content content'
      'footer footer';
      grid-template-rows: auto auto auto auto;
  }
}
