@import 'mixins';
@import 'color';
@import 'icons';
@import 'font';


@import 'start';
@import 'about';
@import 'timestamp';
@import 'navbarback';
@import 'social';
@import 'footer';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
}

::-moz-selection {
  color: red;
}
::selection {
  color: red;
}

%hoverspeed {
  transition: all 0.16s ease-in-out;
}

%hover {
  box-shadow: 0 4px 8px 2px $ck-primary;
  @extend %hoverspeed;
}

body {
 height: 100%;
 background: $ck-background;
}

html {
  height: 100%;
  font-size: 62.5%;
}

.ck__container {
  display: grid;
  grid-template-columns: auto 8rem;
  grid-template-areas: 
  "content footer"
  "content footer"
  "content footer";

  @media only screen and (max-width: 650px) {
      grid-template-columns: auto;
      grid-template-areas: 
      "content"
      "content"
      "content"
      "footer";
  }  
} 