.o-title-1 {
  @extend %o-title-1;
}

.o-title-2 {
  @extend %o-title-2;
  &--bottom-2 {
    margin-bottom: 2.4rem;
  }
}

.o-title-3 {
  @extend %o-title-3;
}

.o-title-4 {
  @extend %o-title-4;
  font-weight: 600 !important;
  &--bottom-1 {
    margin-bottom: 0.8rem;
  }
  &--bottom-2 {
    margin-bottom: 2.4rem;
  }
}

.o-title-5 {
  @extend %o-title-5;
}

.o-text-body {
  @extend %o-text-body;
}

main {
  @include themify($themes) {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "content";
    align-items: start;
    min-height: 100vh;
    height: 100%;
    background: themed("background");

    &:after {
      position: fixed;
      right: 0;
      content: "";
      width: 0.6rem;
      height: 100vh;
      background: $primary;
      z-index: 150;
    }

    @media only screen and (max-width: 800px) {
      grid-template-columns: auto;
      grid-template-areas:
        "content"
        "content";
    }
  }
}

header {
  grid-area: content;
  grid-row: 1;
  @include pxy(88, 160, 8, 208);
  @include pb(16, 48);

  @media only screen and (max-width: 650px) {
    @include pxy(16, 160, 8, 208);
  }
}

.o-container {
  @include themify($themes) {
    grid-area: content;
    grid-row: 2;
    @include mb(40, 96);
    @include px(8, 208);

    @media only screen and (max-width: 800px) {
      margin-bottom: 9.6rem;
    }

    @media only screen and (max-width: 900px) {
      margin-right: 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 1240px) {
        flex-direction: column-reverse;
      }
    }

    &__sidebar {
      width: 30%;
      min-width: 38.4rem;

      @media only screen and (max-width: 1240px) {
        width: 100%;
        min-width: 0;
      }
    }

    &__content {
      width: 70%;
      @include px(16, 80);
      @include pt(16, 32);

      @media only screen and (max-width: 1240px) {
        width: 100%;
        @include px(0, 0);
        padding: 0;
      }
    }
  }
}

/* Components */
.c-spacer-1 {
  @include themify($themes) {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.2rem;
    @include mt(16, 80);
    @include mb(40, 144);
    background: themed("spacer");
  }
}

.c-spacer-2 {
  @include themify($themes) {
    width: 100%;
    @include height(32, 72);
  }
}

.c-spacer-3 {
  @include themify($themes) {
    width: 100%;
    @include height(8, 32);
  }
}

/* Utillity Classes */
.u-no-bottom {
  margin-bottom: 0 !important;
}

.u-list-border {
  @include themify($themes) {
    position: relative;
    padding-left: 2.4rem;
    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0.4rem;
      @include width(4, 6);
      height: 100%;
      border-radius: 10rem;
      @include bg-fade;
      background: themed("spacer");
    }
    &--red {
      &:before {
        background: $red;
      }
    }
    &--blue {
      &:before {
        background: $blue;
      }
    }
    &--green {
      &:before {
        background: $green;
      }
    }
    @media only screen and (max-width: 800px) {
      padding-left: 1.6rem;
    }
  }
}
