.content {
  @include themify($themes) {
    min-height: 100vh;
    height: 100%;
    background: themed("background");
  }
}

main {
  @include themify($themes) {
    position: relative;
    display: grid;
    grid-template-columns: auto 8rem;
    grid-template-areas: "content footer";
    align-items: start;

    @media only screen and (max-width: 800px) {
      grid-template-columns: auto;
      grid-template-areas:
        "content"
        "content"
        "footer";
    }
  }
}

.ck-navbar {
  @include themify($themes) {
    position: fixed;
    width: 100%;
    height: 7.2rem;
    background: themed("background");
    z-index: 5;

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}

.ck-header {
  grid-area: content;
  grid-row: 1;
  @include pxy(88, 208, 8, 280);
  @include pb(16, 64);

  @media only screen and (max-width: 650px) {
    @include pxy(16, 256, 8, 280);
  }
}

.ck-container {
  @include themify($themes) {
    grid-area: content;
    grid-row: 2;
    margin-right: -8rem;
    @include mb(40, 96);
    @include px(8, 280);
    @media only screen and (max-width: 900px) {
      margin-right: 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 1240px) {
        flex-direction: column-reverse;
      }
    }

    &__sidebar {
      width: 30%;
      min-width: 38.4rem;

      @media only screen and (max-width: 1240px) {
        width: 100%;
        min-width: 0;
      }
    }

    &__content {
      width: 70%;
      @include px(16, 120);
      @include pt(16, 32);

      @media only screen and (max-width: 1240px) {
        width: 100%;
        @include px(0, 0);
      }
    }
  }
}
