main {
  @include themify($themes) {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "content";
    align-items: start;
    min-height: 100vh;
    height: 100%;
    background: themed("background");

    @media only screen and (max-width: 800px) {
      grid-template-columns: auto;
      grid-template-areas:
        "content"
        "content"
        ;
    }
  }
}

header {
  grid-area: content;
  grid-row: 1;
  @include pxy(88, 160, 8, 208);
  @include pb(16, 48);

  @media only screen and (max-width: 650px) {
    @include pxy(16, 160, 8, 208);
  }
}

.container {
  @include themify($themes) {
    grid-area: content;
    grid-row: 2;
    @include mb(40, 96);
    @include px(8, 208);

    @media only screen and (max-width: 800px) {
      margin-bottom: 9.6rem;
    }

    @media only screen and (max-width: 900px) {
      margin-right: 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 1240px) {
        flex-direction: column-reverse;
      }
    }

    &__sidebar {
      width: 30%;
      min-width: 38.4rem;

      @media only screen and (max-width: 1240px) {
        width: 100%;
        min-width: 0;
      }
    }

    &__content {
      width: 70%;
      @include px(16, 80);
      @include pt(16, 32);

      @media only screen and (max-width: 1240px) {
        width: 100%;
        @include px(0, 0);
      }
    }
  }
}
