.timestamp {
    position: relative;
    @include padding-left-right(16, 32, 16, 32);
    @include margin-bottom(24, 64);
    box-sizing: border-box;
    
    &__time {
        margin-bottom: 1.2rem;
        font-family: $ck-font-01;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $ck-primary;
    }
    &__title {
        display: inline;
        font-family: $ck-font-01;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $ck-font-main;
    }

    &__link {
        display: none;
        font-family: "WorkSans", sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $ck-font-second;
        transition: color 0.25s ease-in-out;

        &:hover {
            color: red;
            transition: color 0.16s ease-in-out;
        }

        &:after {
            padding-left: 0.2rem;
            content: '\EA15';  
            font-family: "symbols";
            font-style: normal;
            font-weight: normal;
            line-height: 2.4rem;
            vertical-align: middle;
        }
    }

    &__yes {
        display: inline-block;
    }

    &__type {
        margin-bottom: 0.4rem;
        font-family: $ck-font-01;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.0rem;
        color: $ck-font-second;
        text-transform: uppercase;
    }
    &__subtitle {
        font-family: $ck-font-01;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $ck-font-second;
    }
    &__infos {
        display: inline;
        font-family: $ck-font-02;
        font-weight: 400;
        @include font-size(14, 18);
        @include line-height(20, 28);
        color: $ck-font-third;

        &:after {
            display: inline-block;
            content: '';  
            width: 0.8rem;
        }

    }
}