.project_container {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
  grid-column-start: 1;
  grid-column-end: 30;
  @include mb(48, 96);
}

.project {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    width: 100%;
    max-width: calc(1360px + (1520 - 1360) * ((100vw - 320px) / (2560 - 320)));

    @media only screen and (max-width: 650px) {
      grid-auto-rows: min-content;
      height: auto;
    }

    &__img {
      grid-column-start: 1;
      grid-column-end: 12;
      margin-bottom: 1.6rem;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 1;
      }

      & img {
        display: block;
        width: 100%;
        transition: transform 0.24s ease-in-out;
        transform: scale(1.002);
        @include shadow-01;
        border-radius: 0.4rem;

        @media only screen and (max-width: 950px) {
          max-width: 100%;
          max-height: none;
        }
        &:hover {
          transform: scale(1.025);
          transition: transform 0.24s ease-in-out;
        }
      }
    }

    &__content {
      grid-column-start: 13;
      grid-column-end: 30;
      grid-row: 1;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 2;
      }
    }

    &__title {
      position: relative;
      display: inline-block;
      font-family: $font-title;
      font-weight: 700;
      @include font-size(24, 32);
      @include line-height(32, 48);
      color: themed("title-first");
      @include font-fade;
    }

    &__subtitle {
      margin-bottom: 0.8rem;
      font-family: $font-title;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
      color: themed("title-fourth");
      text-transform: uppercase;
      @include font-fade;
    }

    &__info {
      display: block;
      @include mb(8, 16);
      font-family: $font-body;
      font-weight: 400;
      @include font-size(16, 18);
      @include line-height(24, 28);
      color: themed("text-first");
      @include font-fade;
    }
  }
}
