.work_container {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
  grid-column-start: 1;
  grid-column-end: 30;
  @include mb(48, 96);
}

.work {
  @include themify($themes) {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    width: 100%;
    max-width: calc(1360px + (1520 - 1360) * ((100vw - 320px) / (2560 - 320)));

    @media only screen and (max-width: 650px) {
      grid-auto-rows: min-content;
      height: auto;
    }

    &__img {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 12;
      margin-bottom: 1.6rem;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 1;
        margin-bottom: 2.4rem;
      }

      & img {
        position: relative;
        display: block;
        width: 100%;
        transition: transform 0.24s ease-in-out;
        transform: scale(1.002);
        border-radius: 0.8rem;
        z-index: 10;

        @media only screen and (max-width: 950px) {
          max-width: 100%;
          max-height: none;
        }
        &:hover {
          transform: scale(1.025);
          transition: transform 0.24s ease-in-out;
        }
      }
    }

    &__card {
      display: block;
      &:after {
        position: absolute;
        display: block;
        content: "";
        top: 1.6rem;
        margin-left: 1.6rem;
        width: 100%;
        aspect-ratio: 2 / 1;
        background: themed("card");
        @include bg-fade;
        @include shadow-02;
        border-radius: 0.8rem;
        z-index: 0;
        @media only screen and (max-width: 950px) {
          top: 0.8rem;
          margin-left: 0.8rem;
        }
      }
    }

    &__content {
      @include pt(0, 24);
      grid-column-start: 13;
      grid-column-end: 30;
      grid-row: 1;

      @media only screen and (max-width: 950px) {
        grid-column-start: 1;
        grid-column-end: 30;
        grid-row: 2;
      }
    }

    &__title {
      @extend %o-title-2;
      margin-bottom: 0;

      &:hover {
        color: themed("link-color-hover");
      }
    }

    &__subtitle {
      margin-bottom: 0.8rem;
      @extend %o-title-5;
    }

    &__info {
      @extend %o-text-body;
      @include mb(8, 16);
    }
  }
}
